*{
    margin: 0;
    padding: 0;
    font-family: 'playwrite';
    box-sizing: border-box;
}

@font-face {
    font-family: "playwrite";
    src: url('./PlaywriteINGuides-Regular.ttf');
}

body{
    max-height: 100vh;
}

header{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 15vh;
    box-shadow: 0px 5px 7px -7px;
}

nav{
    width: 100vw;
}

ul{
    margin-top: 100px;
    margin-bottom: 0rem;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}


body{
    background-color: rgb(226, 210, 147);
}

button{
    width: 10em;
    height: 5em;
    border-radius: 15%;
    background-color: rgb(217, 186, 109);
}

button:focus{
    border: 10px solid red;
}